/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Inter:ital,opsz@0,14..32;1,14..32&display=swap");
@import "../fonts/AkzidenzGroteskPro/style.css";
@import "../fonts/RoadRadio/style.css";
@import "../fonts/GraphikLCG-Regular/style.css";
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --font-family: "Golos", sans-serif;
  --second-family: "Road Radio", sans-serif;
  --third-family: "Akzidenz-Grotesk Pro", sans-serif;
  --font3: "Inter", sans-serif;
  --font4: "Graphik LC", sans-serif;
  --color-white: #ffffff;
  --color-main: #262633;
  --color-second: #797986;
  --color-subtitle: #808080;
  --bgc-btn-main: #BF2738;
  --bgc-btn-hover: #CC2A3C;
  --bgc-btn-gray1: #F5F5F5;
  --bgc-line: #EAEAEA;
}

body {
  color: var(--color-main);
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 29px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  padding-top: 13px;
  padding-bottom: 15px;
}

.header__content {
  display: grid;
  grid-template-columns: 5fr 2fr 5fr;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 59px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.header__logo {
  justify-self: center;
}

.header__option {
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 58px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

.header__number-link {
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  color: var(--color-main);
}

.header__email-link {
  font-family: var(--font4);
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  color: var(--color-second);
}

.page-name__content {
  padding-top: 21px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--bgc-btn-gray1);
}

.page-name__route {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 17px;
}

.page-name__line {
  height: 1px;
  background-color: var(--bgc-line);
}

.page-name__title {
  margin-top: 15px;
}

.info {
  margin-top: 62px;
}

.info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__text a {
  color: var(--color-main);
}

.info__mail {
  font-family: var(--font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
}
.info__mail a {
  color: var(--bgc-btn-main);
}

.info__text-title {
  font-family: var(--font-family);
  font-size: 17px;
  font-weight: 400;
  line-height: 18.7px;
}

.info__text-subtitle {
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  color: var(--color-subtitle);
}

.info__form-title {
  margin-bottom: 20px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 46px;
}

.nav__link {
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-main);
}

.btn-feedback {
  color: var(--color-white);
  background-color: var(--bgc-btn-main);
  border-radius: 14px;
  font-family: var(--second-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn-feedback:hover {
  background-color: var(--bgc-btn-hover);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__btn {
  padding: 19px 28px;
}

.form__btn {
  padding: 19px 36px;
}

.page-title {
  font-family: var(--second-family);
  font-size: 46px;
  font-weight: 400;
  line-height: 46px;
  color: var(--color-main);
}

.section-title {
  font-family: var(--second-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 39.6px;
}

.route {
  list-style-type: disc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}
.route li span {
  color: var(--color-main);
}
.route li:nth-child(1) {
  list-style-type: none;
}
.route li::marker {
  color: var(--color-second);
}
.route li:last-child span {
  color: var(--color-second);
}

.form__input-group {
  width: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 28px;
}

.form__item {
  width: 100%;
}

.form__input {
  width: 100%;
  padding-left: 20px;
  padding-top: 17px;
  padding-bottom: 11px;
  background-color: var(--bgc-btn-gray1);
  border-radius: 14px;
}
.form__input::-webkit-input-placeholder {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-second);
}
.form__input::-moz-placeholder {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-second);
}
.form__input:-ms-input-placeholder {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-second);
}
.form__input::-ms-input-placeholder {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-second);
}
.form__input::placeholder {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-second);
}

.form__textarea {
  width: 100%;
  padding-left: 20px;
  padding-top: 17px;
  background-color: var(--bgc-btn-gray1);
  border-radius: 14px;
}
.form__textarea::-webkit-input-placeholder {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-second);
}
.form__textarea::-moz-placeholder {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-second);
}
.form__textarea:-ms-input-placeholder {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-second);
}
.form__textarea::-ms-input-placeholder {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-second);
}
.form__textarea::placeholder {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-second);
}

.form__checkbox-wrap {
  margin-top: 20px;
}

.form__btn-wrapper {
  margin-top: 30px;
}

.checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  cursor: pointer;
}

.checkbox__input {
  display: none;
}

.checkbox__mark {
  position: relative;
  width: 20px;
  height: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: var(--bgc-btn-gray1);
  border-radius: 4px;
  margin-right: 16px;
}

.checkbox__text {
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  color: var(--color-subtitle);
}
.checkbox__text a {
  color: var(--color-main);
}

.checkbox__input:checked + .checkbox__mark {
  background-color: var(--bgc-btn-main);
}

.checkbox__input:checked + .checkbox__mark::before {
  content: "";
  width: 10px;
  height: 8px;
  background-image: url("../image/contacts-icon/vector.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}/*# sourceMappingURL=main.css.map */