.btn-feedback {
    padding: 19px 28px;
    color: var(--color-white);
    background-color: var(--bgc-btn-main);
    border-radius: 14px;

    font-family: var(--second-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;

}
.header__btn {
}