.form {
}
.form__input-group {
    display: flex;
    gap: 30px;
    margin-bottom: 28px;
}
.form__item {
    width: 100%;
}
.form__input {
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 11px;
}
.form__textarea {

}