.form {
}
.form__input-group {
    width: 630px;
    display: flex;
    gap: 30px;
    margin-bottom: 28px;

    @media (max-width: 1289px) {
        width: 100%;
        flex-direction: column;
    }
}
.form__item {
    width: 100%;
}
.form__input {
    width: 100%;
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 11px;

    background-color: var(--bgc-btn-gray1);

    border-radius: 14px;

    &::placeholder {
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        color: var(--color-second);
    }
}
.form__textarea {
    width: 100%;
    padding-left: 20px;
    padding-top: 17px;
    
    background-color: var(--bgc-btn-gray1);

    border-radius: 14px;

    &::placeholder {
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        color: var(--color-second);
    }
}
.form__checkbox-wrap {
    margin-top: 20px;
}
.form__btn-wrapper {
    margin-top: 30px;
}