.page-name {
}
.page-name__content {
    padding-top: 21px;
    padding-bottom: 30px;

    text-align: center;

    background-color: var(--bgc-btn-gray1);
}
.page-name__route {
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
}

.page-name__title {
    margin-top: 15px;
}
