@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
@import "../fonts/AkzidenzGroteskPro/style.css";
@import "../fonts/RoadRadio/style.css";
@import "../fonts/GraphikLCG-Regular/style.css";

.container {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 29px;
    box-sizing: border-box;
}